<!DOCTYPE html>
<html lang="en" data-theme="cupcake" class="bg-gray-200">1
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
  <%- include('partials/navbar', {page: '/about', theme: ''}) %>
        <div class="container mx-auto">
        <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
            <div class="max-w-md">
              <h1 class="text-5xl font-bold">About</h1>
              <p class="py-6">All you need to know about me </p>
            </div>
          </div>
        </div>
        <br />

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
              <img class="w-full" src="https://www.studyholidays.com/ugc-1/2/9/0/seneca_tile.jpg"/>
            </div>
            <div class="prose">
              <p> My name is Manveen Kaur, and I am currently pursuing a diploma in Computer Programming from Seneca College. I am passionate about coding and always eager to learn new technologies and improve my skills. In my free time, I enjoy exploring new coding projects, reading about tech innovations, and collaborating with fellow students on various programming challenges.</p>
              <p>  Besides tech, I love reading, diving into various genres that broaden my perspective and spark creativity.</p>
            </div>
          </div>
        </div>

 </body>
</html>